* {
    box-sizing: border-box;
  }

  
  
  html, body {
    height: 100%;
  }
  
  /* #root {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    height: 100%;
  } */
  
  .container {
    display: flex;
    flex-direction: column;
    width: 101%;
    height: 90.5%;
    background: white;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.0);
  }
  
  .messages {
    flex: 1;
    position: relative;
  }
  
  .messages-scroller {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: scroll;
    overflow-anchor:none ;
    /* overscroll-behavior-y:contain; */
    /* overflow-block:initial ; */
    /* overflow-anchor:initial; */
     
  }
  
  .message {
    align-self: flex-start;
    margin-top: 4px;
    padding: 8px 12px;
    max-width: 55vw;
    background: #f1f0f0;
    border-radius: 16px;
    font-size: 14px;

    overflow-wrap:break-word;
    /* display: inline-block; */
    /* word-wrap: break-word; */
    /* word-break: break-word; */
    /* word-break:break-all; */
    /* -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; */
  }
  
  .message.me {
    align-self: flex-end;
    background: #FFC003;
    color: black;

    overflow-wrap:break-word;
    /* display: inline-block; */
    /* word-wrap: break-word; */
    /* word-break: break-word; */
    /* width:500rem; */
    /* -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; */
  }
  
  .chat-bar {
    height: 64px;
    border-top: 1px solid #ddd;
  }
  
  .chat-bar form {
    height: 100%;
    padding: 16px;
  }
  
  .chat-bar form input {
    width: 100%;
    height: 32px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
    outline: none;
  }
  
  .chat-bar form input:focus {
    border: 1px solid #f19e38;
  }