html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.splitscreen {
    display: flex;
    height:100%;    
    
    
}

.leftList{
    display: flex;
    flex-direction: column;
    flex-basis:25%;

    border-style: solid;
    border-top: 2px;
    border-bottom: 0.0px;
    border-color: lightgray;    
}

.rightChat{
    display: flex;
    flex-basis: 75%;
    
}

.toppane {
    background: whitesmoke;
    flex:3;
    
    
}

.middlepane {
    flex:3;
}

.bottompane {
    /* width: 40%; */
    background:white;
    flex:2;
    /* position: relative; */

    
    
}

#root{
    height: 48.5rem;
}

.BuddyCard{
    display: flex;
    margin-top: 0.1rem;
    height: 6rem;
    border-radius: 0px !important;
}

.BuddyCard:hover{
    background-color: rgba(215, 215, 228, 0.432);
}

.cardActive{
    display: flex;
    margin-top: 0.1rem;
    height: 6rem;
    border-radius: 0px !important;
    
    background-color: rgba(215, 215, 228, 0.432) !important;
}

.CardContent{
    /* background: red; */
    flex:4
}

.chat-header{
    border-radius: 0px !important;
}

.chat-header-content{
    background-color:  rgba(215, 215, 228, 0.432);
    border: "solid";
    border-radius: "100%";
    border-width: "9.1px";
    border-color: "black";
}
