.splitscreen {
    display: flex;
    height:100%;    
}

.leftList{
    display: flex;
    flex-direction: column;
    flex-basis:35%;


    /* position: absolute; */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* padding: 16px; */
    
    
}

.rightChat{
    display: flex;
    flex-basis: 65%;
}

.toppane {
    /* width: 100%; */
    background: bisque;
    flex:3;
    
    
}

.middlepane {
    /* width: 100%; */
    background: papayawhip;
    flex:3;
    overflow-y: scroll;
    
}

.bottompane {
    /* width: 40%; */
    background: red;
    flex:2;
    
}

#root{
    height: 92.5%;
}

.Card{
    display: flex;
}

.CardContent{
    /* background: red; */
    flex:4
}

.CardAction{
    /* background: green; */

}



